body {
  background: linear-gradient(to bottom right, #ffcc66, #ff9966), url('background-pattern.png'); /* Warm gradient and background pattern */
  background-repeat: repeat;
}

.main-container {
  padding: 20px;
}

.form-container, .table-container {
  display: none;
  background-color: #ffffff; /* White */
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 20px;
  margin-top: 20px;
}

.table-container {
  overflow-x: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
